:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-white-color: #f5f5f5;
  --secondary-white-color: #ffffff;
  --dark-bg-color: #2f303a;
  --blue-bg-color: #2196f3;
}

body {
  background: var(--primary-white-color);
}

/* Навигація */
.header {
  background-color: var(--secondary-white-color);
}

.logo {
  color: #000000;
}

.logo .link {
  text-decoration: none;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-bg-color);
}
.site-nav .link.current {
  color: var(--blue-bg-color);
}

.contacts .link {
  color: var(--primary-text-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--blue-bg-color);
}

.contacts .number {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.link {
  text-decoration: none;
}

/* герой */
.hero {
  background-color: var(--dark-bg-color);
  color: var(--secondary-white-color);
}
.hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  background-color: var(--blue-bg-color);
  color: var(--secondary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Особливості */
.list-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
.list-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Чим ми займаемось */
.section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
/* Наша команда */
.our-team {
  background-color: #f5f4fa;
}
.photo-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.photo-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer {
  background-color: var(--dark-bg-color);
}
.logo.footer {
  color: var(--secondary-white-color);
}
.address {
  color: var(--secondary-white-color);
}
.link.footer {
  color: rgba(255, 255, 255, 0.6);
}
